.card {
    cursor: pointer;
    user-select: none;
    grid-template-columns: 120px 1fr;
    padding: 6px;
}

.card__gallery--thumbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 2px;
}

.card__gallery--thumbs img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card__header {
    margin-left: 8px;
}

.card__image {
    /* width: 100px; */
    object-fit: cover;
}

.card__badges {
    margin: 6px 0px;
}

.card__content {
    grid-column: span 2;
}